body{
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    background: #fafafa;
    padding: 3rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}