body{
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    padding: 5rem 3rem;
    height: 500px;
    background: #fff;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
}

.step{
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    color: #fafafa;
    border-radius: .5rem;

    position: relative;
}

.line{
    width: 3px;
}